
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/.vs/WCFParcialADS/config/applicationhost.config
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/.vs/WCFParcialADS/v16/.suo
*.suo
*.config
WCFParcialADS/WCFParcialADS.sln
WFParcial3ADS/.vs/WFParcial3ADS/v16/.suo
WFParcial3ADS/.vs/WFParcial3ADS/config/applicationhost.config
