
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/.vs/WCFParcialADS/config/applicationhost.config
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/WCFParcialADS/Web.config
WCFParcialADS/.vs/WCFParcialADS/v16/.suo
*.suo
*.config
WCFParcialADS/WCFParcialADS.sln
